/* linking -------------------------------------------------------------------*/

a{
  text-decoration: none;
  color: inherit;
}

.link__arrow {
  transition: transform .3s ease-in-out;
  transform: translateX(0);
}

.link:hover .link__arrow {
  transform: translateX(5px);
}

.link__arrow-path {
  fill: var(--blue);
}

/* title -------------------------------------------------------------------- */

.monitor-subpage-title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 25px auto;
}

.monitor-subpage-title-headline {
  color: var(--blue);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.35;
  text-transform: uppercase;
  position: relative;
  padding: 20px 0;
  z-index: 1;
}

.monitor-subpage-title-headline::before,
.monitor-subpage-title-headline::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: var(--blue);
}

.monitor-subpage-title-headline::before {
  top: 0;
}

.monitor-subpage-title-headline::after {
  bottom: 0;
}

.monitor-subpage-title-clipgraph {
  content: '';
  height: 120px;
  width: 48%;
  background-color: #91bea0;
  position: absolute;
  right: 0;
  clip-path: path('M0.46875 327H699V0H343.814C199.729 68.1138 77.8418 181.41 0.46875 327Z');
}

/* monitor subpages sidbar -------------------------------------------------- */

.collapsible-header-main, .collapsible-content-main {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 15px;
}

.collapsible-content {
  display: none;
}

.collapsible-header {
  position: relative;
}

.collapsible-header:hover {
  cursor: pointer;
}

.monitor-sidbar-row {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #91bea0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monitor-sidbar-row button {
  background-color: #91bea0;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
}

.monitor-sidbar-row button:hover {
  background-color: #3D8656;
}

.monitor-sidbar-row button:focus {
  border-color: #3D8656;
  outline: none;
  box-shadow: 0 0 5px #3D8656;
}

.btn.radiobtn.btn-default.active {
    background-color: #3D8656; /* Ihre gewünschte Farbe */
    color: white; /* Textfarbe */
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}

.well{
  background-color: #fff;
  border: none;
  box-shadow: none;
}

/* monitor subpages main panel -----------------------------------------------*/

.intro-text-monitor-subsite{
  text-align: center;
  margin-bottom: 25px;
}

.intro-text-monitor-subsite h3{
  color: var(--blue);
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.info-box-data{
  background-color: #BED9C7;
  border: 2px solid;
  border-color: #91bea0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.fa-info-circle{
  font-size: 40px;
  color: #3D8656;
  margin-right: 10px;
}

.important-values-graph{
  text-align: center;
}

.content-monitor-subsite {
  padding: 3px;
}

.content-monitor-subsite li {
  padding: 3px;
  list-style-type: none;
}

.content-monitor-subsite .box {
    margin: 0 auto;
    background-color: #91bea0;
    border-radius: 5px;
}

.fa-solid {
  color: #3D8656;
  margin-right: 3px;
}

.arrow-down, .arrow-up {
  position: absolute;
  right: 15px;
  top: auto;
  border: solid var(--blue);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.back_button_row {
  margin-bottom: 10px;
}

#back_button {
  background-color: #91bea0;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  width: 75px;
  height: 75px;
  text-align: center;
  margin 5px;
}

#back_button:hover {
  background-color: #3D8656;
}

.content-ask-aim-ind {
  border: solid 1px;
  border-color: #3D8656;
  padding: 10px;
}

.content-ask-aim-ind ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-ask-aim-ind li {
  padding-left: 5px;
}

.content-footer {
  border-top: solid 1px;
}

.monitor-variable-content {
  background-color: #EAE9E3;
  box-shadow: 0px 0px 2px 0px var(--light-grey);
  margin-bottom: 10px;
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-left: 2px solid var(--blue);
  border-top: 0px solid white;
}

.monitor-variable-button-box {
  display: flex;
  flex-direction: column;
}

.monitor-variable-button {
  margin: 0 0 10px 0;
}

.monitor-variable-button {
    margin: 0 0 10px 0;
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 0px;
    border-width: 2px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    transition: all .75s ease;
    text-align: left;
}

.monitor-variable-button:hover {
    background-color: white;
    border-color: var(--primary);
    color: var(--primary);
}

.monitor-variable-button-choosed {
  background-color: white!important;
  color: var(--blue)!important;
  border-right: 2px solid var(--blue);
  border-top: 2px solid var(--blue);
  border-left: 2px solid var(--blue);
  border-bottom: 0px solid white;
  margin: 0px;
}

.monitor-variable-button:after {
    content: "\2b";
    font-family: "FontAwesome";
    position: sticky;
    left: 95%;
}

.monitor-variable-button-choosed:after {
    content: "\f068";
    font-family: "FontAwesome";
    position: sticky;
    left: 95%;
}

.invisible_element {
  display: none;
}

/* monitor text--------------- -----------------------------------------------*/

.anmerkungen {
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 0px;
}

.form-group.shiny-input-container {
  display: block !important;
  position: relative !important;
  z-index: 9999 !important;
}

.form-group.shiny-input-container select {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.form-group.shiny-input-container .selectize-control {
  display: block !important;
  width: 100% !important;
}

.bootstrap-select .dropdown-menu {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.bootstrap-select .dropdown-menu li {
  display: block !important;
}

.bootstrap-select .dropdown-menu li a {
  display: block !important;
  padding: 10px 20px !important;
}

.bootstrap-select .dropdown-menu.show {
  display: block !important;
}

.form-group.shiny-input-container {
  display: block !important;
  position: relative !important;
  z-index: 9999 !important;
}

.form-group.shiny-input-container select {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.form-group.shiny-input-container .selectize-control {
  display: block !important;
  width: 100% !important;
}

.bootstrap-select .dropdown-menu {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.bootstrap-select .dropdown-menu li {
  display: block !important;
}

.bootstrap-select .dropdown-menu li a {
  display: block !important;
  padding: 10px 20px !important;
}

.bootstrap-select .dropdown-menu.show {
  display: block !important;
}

