
/* Root Variable Definition ------------------------------------------------- */

:root{
  /*colors*/
  --primary:               #6896a8;
  --soft-primary:          #b3c8d3;
  --light-primary:         #e0e8ed;
  --blue:                  #195365;
  --blue-trans:            #195365cc;
  --light-blue:            #8d9ca9;
  --red:                   #e73f0c;
  --grey:                  #b5bfc5;
  --light-grey:            #dae0e3;
  --very-light-grey:       #f0f3f4;
  --dark-grey:             #6A6F73;
  --very-dark-grey:        #575757;
  --beige-trans-strong:    #ada58b44;
  --beige-trans:           #ada58b66;
  --beige:                 #ada58b;
  --dark-beige:            #8A8161;
  --mint:                  #91BEA0;
  --color-bildung:         #C3DA46;
  --color-forschung:       #A96BF1;
  --color-bildung-trans:   #C3DA46cc;
  --color-forschung-trans: #A96BF1cc;
  --color-background:      #F2F2F2;

  /*font*/
  --font-size: 18px;
  --font-size-small: 15px;
  --font-family: "BrandonTextWeb-Regular", sans-serif;
  --font-family-bold: "BrandonTextWeb-Bold", sans-serif;
}

/*TODO wofür wird das gebraucht - einsortieren*/
  .modal-dialog {
    max-width: 100%;
    width: 98%;
    height: calc(100% - 60px);
    margin: 0 auto;
  }
.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

/* Fundamentale Elemente ---------------------------------------------------- */
  
  .body, body {
    font-family: var(--font-family);
    font-size:   var(--font-size);
    background-color: white;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }

#content-body {
min-height: 90vh;
background-color: var(--color-background);
flex-grow: 1;
width: 80%;
}

.content-box {
  padding: 10px;
  margin: 10px;
  background-color: var(--light-grey);
}

.div_hide {
  display: none!important;
}

.small-font {
  font-size: var(--font-size-small);
}

/* Font --------------------------------------------------------------------- */

.p, p {
  font-family: var(--font-family);
  color: var(--blue);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-family-bold);
  font-weight: 100 !important;
  color: var(--blue);
}

li {
  color: var(--blue);
}

/* Header ------------------------------------------------------------------- */
  
  header.sticky {
    position: sticky;
    top: 0;
    z-index: 110;
    margin: 15px 0;
  }

.header-panel {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-top: -1px;
}

.header-bottom{
  height: 25px;
  background-color: var(--color-background);
  position: sticky;
  top: 85px;
  z-index: 100;
}

/* Sidebar ------------------------------------------------------------------ */
  
  .navbar {
    margin-bottom: 0;
  }

#sidebar {
transition: all 1s ease;
width: 225px;
min-width: 225px;
padding: 0 20px 20px 20px;
background-color: white;
position: relative;
margin-top: -25px;
z-index: 105;
}

.sidebar_minimized {
  transform: translateX(-200%);
  margin-right: -226px!important;
}

.sidebar_dynamic {
  border-left: 2px solid var(--blue);
  margin-left: 5px;
  margin-bottom: 15px;
}

/* Sidebar-Title ------------------------------------------------------------ */
  
  .sidebar_title {
    margin-top: 20px;
  }

/* Sidebar-Buttons ---------------------------------------------------------- */
  
  .sidebar_button,
.sidebar_dynamic_button {
  color: black;
  width: 160px;
  margin: 5px;
  border-radius: 0px;
  font-size: var(--font-size-small);
}

.sidebar_button:focus,
.sidebar_dynamic_button:focus {
  background-color: #fff;
    border-color: #ccc;
}

.btn-warning.sidebar_button {
  color: white;
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-warning.sidebar_button:hover,
.btn-warning.sidebar_button:hover:active{
  background-color: var(--blue-trans);
  border-color: var(--blue-trans);
}

.sidebar_dynamic_button {
  width: 153px;
  text-align: left;
  margin: 0 5px;
  border-color: #ffffff00;
    height: 35px;
}

.sidebar_dynamic_button:focus {
  background-color: #ffffff00;
    border-color:     #ffffff00;
}

.sidebar_dynamic_button.btn_selected {
  font-weight:  900;
  padding-left: 20px;
  color:        var(--blue);
}

.sidebar_dynamic_button.btn_selected:before {
  content:      "\f054";
  font-family:  "FontAwesome";
  display:      inline-block;
  margin-right: 5px;
  color:        var(--blue);
}

/* Sidebar-Checkbox --------------------------------------------------------- */
  
  #sb_handlung div div button {
  display: flex;
flex-direction: row;
text-align: left;
border-color: transparent;
font-family: var(--font-family) - 2;
font-size: var(--font-size-small);
}

#sb_handlung div div span {
margin-right: 5px;
}

div#sb_handlung .btn-group-vertical {
width: 160px;
}
.radio_handlung_sidebar {
  margin: 5px;
}
#sb_handlung div button {
border-radius: 0px;
}

button.active:has(input[value="alle"]){
  background-color: var(--blue)!important;
  box-shadow: none;
}

button.active:has(input[value="bildung"]){
  background-color: var(--color-bildung)!important;
  box-shadow: none;
}

button.active:has(input[value="forschung"]){
  background-color: var(--color-forschung)!important;
  box-shadow: none;
}


/* Content-Panel ------------------------------------------------------------ */
  
  .panel-content, panel-content {
    padding: 40px;
    background-color: white;
    width: 100%;
  }

.router .container-fluid {
  padding: 0 25px 25px 25px;
}

.column-content-center-align {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  Standard-Buttons -------------------------------------------------------- */
  
  .button-normal {
    font-weight: 700;
    padding: 8px 15px;
    letter-spacing: 0.6px;
    border: 2px solid var(--blue);
    transition: .3s ease-in-out;
    border-radius: 0px;
    font-size: 18px;
  }

.button-normal:hover,
.button-normal:active,
.button-normal:focus,
.button-normal:active:focus{
  background-color: var(--blue);
  border-color:     var(--blue);
  color:            white;
}

.btn:focus {
  outline: none!important;
}

/* Monitor-Buttons ---------------------------------------------------------- */
  
  .back_button_monitor {
    color: white;
    border-radius: 0px;
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 0px;
    transition: all 0.3s ease;
    margin-left: 34px;
  }

.back_button_monitor:hover {
  color: white;
  background-color: var(--blue);
  border-color: var(--blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.monitor_hf1_button {
  font-size: 20px;
  width: 45%;
  height: 150px;
  white-space: normal;
  border-radius: 0px;
  border-color: var(--color-bildung);
  background-color: var(--color-bildung);
  transition: all 0.3s ease;
}

.monitor_hf2_button {
  font-size: 20px;
  width: 45%;
  height: 150px;
  white-space: normal;
  border-radius: 0px;
  border-color: var(--color-forschung);
  background-color: var(--color-forschung);
  transition: all 0.3s ease;
}

.monitor_hf1_button:hover {
  background-color: var(--color-bildung);
  border-color: var(--color-bildung);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.monitor_hf2_button:hover {
  background-color: var(--color-forschung);
  border-color: var(--color-bildung);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.monitor_arrow {
  font-size: 50px;
  color: var(--blue);
  padding: 0 20px;
  line-height: 150px;
}
.monitor_overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Zurück-Buttons ----------------------------------------------------------- */
  
  .button_klein,
.button_klein:active,
.button_klein:focus {
  border-radius: 0;
  border-color: var(--grey);
  transition: all .1s ease;
  font-size: var(--font-size-small);
  background-color: white;
}

.button_klein:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  font-weight: 600;
  color: white;
}

.button_klein:active:hover,
.button_klein:active:focus {
  border-color: var(--primary);
  background-color: var(--primary);
  font-weight: 600;
  color: white;
}

.zuruck_button {
  min-width: 75px;
}

.button_icon,
.button_icon:active,
.button_icon:focus {
  border-radius: 0;
  border-color: transparent;
  transition: all .1s ease;
  background-color: transparent;
  font-weight: 600;
  box-shadow: none;
}

.button_icon i {
  color: var(--blue);
  font-size: calc(var(--font-size) + 8px);
}

.button_icon:hover,
.button_icon:active:hover,
.button_icon:active:focus {
  border-color: transparent;
  background-color: transparent;
  color: transparent;
  box-shadow: none;
}

.button_icon:hover i,
.button_icon:active:hover i,
.button_icon:active:focus i {
  color: var(--red);
}

.button_icon:active:hover i,
.button_icon:active:focus i {
  color: var(--primary);
}



/* Input-Switch ------------------------------------------------------------- */
  
  .bootstrap-switch,
.bootstrap-switch.bootstrap-switch-off,
.bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch-handle-off.bootstrap-switch-default {
  border-radius: 0px;
}

.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: var(--blue)!important;
}

.bootstrap-switch.bootstrap-switch-focused {
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(25, 83, 101, 0.6);*/
    box-shadow: none;
  border-color: var(--blue);
}

/* Tutorial ----------------------------------------------------------------- */
  
  .driver-popover-title {
    color: var(--blue);
  }

div#driver-popover-item {
border-radius: 0px!important;
}

button.driver-close-btn,
button.driver-next-btn,
button.driver-prev-btn {
  border-radius:    0px!important;
  font-size:        13px!important;
  background-color: #fff!important;
    border-color:     #ccc!important;
    color:            black!important;
  text-shadow:      none!important;
}

button.driver-prev-btn.driver-disabled {
  color: grey!important;
}

button.driver-close-btn:hover,
button.driver-close-btn:hover:active,
button.driver-next-btn:hover,
button.driver-next-btn:hover:active,
button.driver-prev-btn:hover,
button.driver-prev-btn:hover:active {
  background-color: var(--blue-trans)!important;
  border-color: var(--blue-trans)!important;
  color: white!important;
}

/* shinyWidgets: sliderTextInput -------------------------------------------- */

span.irs-single, span.irs-to, span.irs-from {
  background-color: var(--blue)!important;
  font-size: 14px!important;
  padding: 6px 6px!important;
  top: -10px!important;
  border-radius: 0px!important;
}

.irs-bar {
  border-top: 1px solid var(--blue)!important;
  border-bottom: 1px solid var(--blue)!important;
  background: var(--blue)!important;
}

.irs--shiny .irs-line {
  border-radius: 0px!important;
}

.irs-min, .irs-max {
  font-size: 12px!important;
  line-height: 1!important;
  padding: 4px 4px;!important
  top: -5px!important;
  border-radius: 0px!important;
  background-color: var(--light-grey)!important;
}

.irs--shiny {
  margin-top: 10px!important;
}

/* shinyWidgets: radioGroupButtons ------------------------------------------- */

.btn-group.btn-group-container-sw .btn-group .btn {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
	font-size: 16px;
	transition: all .2s ease;
}

.btn-group.btn-group-container-sw .btn-group .btn:hover {
    background-color: var(--grey);
}

.btn-group.btn-group-container-sw .btn-group .btn span i {
  color: var(--blue)!important;
  transition: all .2s ease;
}

.btn-group.btn-group-container-sw .btn-group .btn:active,
.btn-group.btn-group-container-sw .btn-group .btn:active:focus,
.btn-group.btn-group-container-sw .btn-group .btn:focus,
.btn-group.btn-group-container-sw .btn-group .btn.radiobtn.btn-default.active {
  background-color: var(--blue)!important;
	color: white
}

.btn-group.btn-group-container-sw .btn-group .btn:active span i,
.btn-group.btn-group-container-sw .btn-group .btn:active:focus span i,
.btn-group.btn-group-container-sw .btn-group .btn:focus span i,
.btn-group.btn-group-container-sw .btn-group .btn.radiobtn.btn-default.active span i {
  color: white!important;
}

/* Boxen bei Studies -------------------------------------------------------- */
  
  .studies_box {
    background-color: white;
    max-width: 240px;
    height: 400px;
    padding: 20px;
    border: 2px solid var(--grey);
    margin: 20px;
    transition: all .4s ease;
  }

.studies_box:hover {
  margin: 15px 15px 25px 25px;
  box-shadow: 2px 2px 2px 0px var(--grey);
}

.studies_box:hover {
  border-color: var(--blue);
}

.studies_box.innovation:hover {
  border-color: var(--color-forschung);
}

.studies_box.bildung:hover {
  border-color: var(--color-bildung);
}

.studies_header {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--blue);;
}

.studies_img {
  width: 200px;
  margin: auto;
  display: flow;
}

.studies_text{
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}

/* Tooltips ----------------------------------------------------------------- */
  
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--blue);
  }

.tooltip.bottom .tooltip-inner {
  background-color: var(--blue);
  max-width: 360px;
  font-size: 13px;
  padding: 10px;
  box-shadow: 2px 2px 2px 0px var(--grey);
}

/* Widgets ------------------------------------------------------------------ */
  
  label.control-label{
    font-weight: 700;
    color: var(--blue);
    margin: 0 0 10px;
  }

/* Sortable ----------------------------------------------------------------- */
  
  .default-sortable .rank-list-item:hover:not(.disabled) {
    background-color: var(--light-primary);
  }

p.rank-list-title {
  font-weight: 600;
}

.rank-list {
  margin: 0!important;
}

.rank-list-container {
  margin: 0!important;
}

.default-sortable.bucket-list-container {
  margin: 0!important;
  padding: 0!important;
}

.default-sortable .rank-list-item:hover:not(.disabled) {
  background-color: var(--grey)!important;
  color: white;
}

.default-sortable .rank-list-item.sortable-selected,
.default-sortable .rank-list-item.sortable-chosen,
.default-sortable .rank-list-item.sortable-ghost.sortable-chosen,
.default-sortable .rank-list-item.sortable-drag {
  background-color: var(--primary)!important;
  border: 0px solid var(--primary)!important;
  color: white;
}

.filter-option-inner-inner,
.dropdown-item {
  font-size: 18px;
}

/* Link-Button -------------------------------------------------------------- */
  
  .link_button {
    margin: 1%;
    padding: 30px 20px;
    width: 48%;
    font-size: 32px;
    border-radius: 0px;
    background-color: var(--blue);
    border-color: var(--blue);
    color: white;
    font-weight: 900;
  }

.link_button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

#explorer-suche,
#explorer_handlung1-suche,
#explorer_handlung2-suche,
#explorer-analysetool,
#explorer_handlung1_analysetool,
#explorer_handlung2-analysetool{
width: 100%;
}

/* lists / link-lists --------------------------------------------------------*/
  
  .custom-list {
    list-style-type: none;
    padding-left: 0;
  }

.custom-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 14px;
  background-image: url('data:image/svg+xml;utf8,<svg class=\"link__arrow\" width=\"10\" height=\"14\" viewBox=\"0 0 10 14\" xmlns=\"http://www.w3.org/2000/svg\"><path class=\"link__arrow-path\" d=\"M2.55058 14L0.854004 12.3497L6.4527 6.99767L0.854004 1.65025L2.55058 0L9.84645 6.99767L2.55058 14Z\"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Triangle-Handlung -------------------------------------------------------- */
  
  .handlung1_triangle {
    /* content:  '';
    display:  block;
    height:   100%;
    width:    100%;
    position: absolute;*/
      left:     0;
    top:      0;
    bottom:   0;
    background-color: var(--color-bildung);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }

.handlung2_triangle {
  left:     0;
  top:      0;
  bottom:   0;
  background-color: var(--color-forschung);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.keine_handlung_triangle {
  left:     0;
  top:      0;
  bottom:   0;
  background-color: var(--primary);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.keine_handlung_triangle {
  left:     0;
  top:      0;
  bottom:   0;
  background-color: var(--primary);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

/* Karrusel ----------------------------------------------------------------- */
  
  #home-slick_output {
  margin: 0px!important;
}

.slick-prev:before, .slick-next:before {
  color: var(--grey)!important;
  font-size: 40px!important;
  opacity: 1!important;
}

.slick-prev {
  left: -50px!important;
}

.slick-next {
  right: -27.5px!important;
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: var(--blue)!important;
}

/* Content-Box -------------------------------------------------------------- */
  
  @media (max-width: 1400px){ /*767px*/
      #main-body {
      display: block!important;
  }
#content-body {
width: auto;
}
#sidebar{
width: 100%!important;
display: flex;
margin-left: 0px;
max-height: 500px;
transition: overflow, max-height 1s ease-out;
overflow: auto;
padding: 0;
margin-top: 0px;
transform:none!important;
}
#header-left-title{
display: none;
}
header.sticky{
  position: relative;
}
.header-bottom{
  display: none;
}
#sidebar.sidebar_minimized{
max-height: 0px;
overflow: hidden;
margin-left: 0px;
}
.sidebar_group {
  padding: 20px;
  margin-bottom: 10px;
}
.sidebar_title {
  margin-top: 0px;
}
.sidebar_group {
  padding: 0 20px;
}
#sidebar_dynamic_explorer .sidebar_dynamic{
display: flex;
flex-direction: column;
}
.router .container-fluid {
  padding: 25px;
}

}

.default-sortable .rank-list-item.sortable-selected, .default-sortable .rank-list-item.sortable-chosen, .default-sortable .rank-list-item.sortable-ghost.sortable-chosen, .default-sortable .rank-list-item.sortable-drag {
  background-color: yellow;
  border: 1px solid red;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 65px 80px;
  background-color: white;
}

.moodie_title::before,
.moodie_title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  margin: 10px 0;
  background-color: var(--blue);
}

.moodie_title {
  text-transform: uppercase;
  font-size: 51px;
  margin-bottom: 30px;
}

/*
  @media (max-width: 767px){
    .navbar-header, navbar-header{
      display: flex;
      justify-content: left;
    }
    button[class="navbar-toggle collapsed"],
    button[class="navbar-toggle"]{
      margin-left: 20px;
    }
  }

@media (min-width: 1000px) {
  
  .navbar-header, navbar-header{
    font-size: 0px;
    width: 0px;
  }
  
  ul[id="navigation_bar"]{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*
    .nav>li:has(a[data-value="Handlung 1"]){
      background-color: red;
    }
  
  
  .nav>li:has(a[data-value="Handlung 2"]){
    margin-right: 15%;
  }
  
  .nav>li:has(a[data-value="Stories"]){
    margin-left: 15%;
  }
  
  .nav>li:has(a[data-value="Studies"]){
    background-color: orange;
  }
}
*/
  
  /* TABSET ------------------------------------------------------------------- */
  
  .tabset-menu>div>div>.tabbable>.nav-tabs>li>a {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border: 1px solid transparent;
    transition: margin .3s ease;
    border-radius: 0px;
    margin: 0px 8px 16px 8px;
    min-width: 130px;
    text-align: center;
  }

.tabset-menu>div>div>.tabbable>.nav-tabs>li>a:hover,
.tabset-menu>div>div>.tabbable>.nav-tabs>li>a:active,
.tabset-menu>div>div>.tabbable>.nav-tabs>li>a:focus {
  background-color: var(--beige);
  color: white;
}

.tabset-menu>div>div>.tabbable>.nav-tabs>li>a[data-value="Tabelle"]:hover,
.tabset-menu>div>div>.tabbable>.nav-tabs>li>a[data-value="Tabelle"]:active,
.tabset-menu>div>div>.tabbable>.nav-tabs>li>a[data-value="Tabelle"]:focus {
  background-color: var(--primary);
  font-family: var(--font-family-bold);
  color: white;
}

.tabset-menu>div>div>.tabbable>.nav-tabs>li.active>a {
  background-color: var(--dark-beige);
  color: white;
  margin: 16px 8px 0px 8px;
  font-family: var(--font-family-bold);
}

.tabset-menu>div>div>.tabbable>.nav-tabs>li.active>a[data-value="Tabelle"] {
  background-color: var(--blue);
}

.tabset-menu>div>div>.tabbable>.nav-tabs {
  min-height: 64px;
  border-bottom: 2px solid var(--blue);
  margin-bottom: 24px;
}

.tabset-menu>div>div>.tabbable>.nav-tabs {
  border-bottom: 2px solid var(--dark-beige);
  animation: tabset-change-border-to-beige .3s forwards;
}

.tabset-menu>div>div>.tabbable>.nav-tabs:has(li.active>a[data-value="Tabelle"]) {
  border-bottom: 2px solid var(--blue);
  animation: tabset-change-border-to-blue .3s forwards;
}

@keyframes tabset-change-border-to-blue {
  0%   {border-bottom: 2px solid var(--dark-beige);}
  50%  {border-bottom: 2px solid transparent;}
  100% {border-bottom: 2px solid var(--blue);}
}

@keyframes tabset-change-border-to-beige {
  0%   {border-bottom: 2px solid var(--blue);}
  50%  {border-bottom: 2px solid transparent;}
  100% {border-bottom: 2px solid var(--dark-beige);}
}

/* STORY-PREVIEW-CARDS ------------------------------------------------------ */
  
  .cards-in-box {
    display: flex;
    flex-direction: row;
    min-width: 450px;
    flex-wrap: wrap;
  }

.card-link:hover {
  text-decoration: none;
}

.quarto-grid-item.card.h-100.card-left {
  height: 375px;
  width: 300px;
  border: 2px solid var(--blue);
  margin: 20px;
  background-color: var(--very-light-grey);
  transition: all .5s ease;
}

h5.no-anchor.card-title.listing-title {
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  padding: 6px 15px;
  margin: 0;
  min-height: 53px;
}

.listing-author,
.listing-author-head {
  font-size: 16px;
  color: var(--blue);
}


img.thumbnail-image.card-img {
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 100%;
}

.card-attribution.card-text-small.start {
  padding: 15px;
}

.card-link:hover {
  text-decoration: none;
}

.card-link:hover div .card-body h5,
.card-link:hover div .card-body .card-text-small .listing-author-head,
.card-link:hover div .card-body .card-text-small .listing-author {
  color: white;
}

.card-link:hover .quarto-grid-item.card.h-100.card-left {
  background-color: var(--color-blue);
}

.card-link .quarto-grid-item.card.h-100.card-left.hf1-card {
  border-color: var(--color-bildung);
}

.card-link .quarto-grid-item.card.h-100.card-left.hf2-card {
  border-color: var(--color-forschung);
}

.card-link:hover .quarto-grid-item.card.h-100.card-left.hf1-card {
  background-color: var(--color-bildung);
  box-shadow: 4px 3px 6px 0px var(--color-bildung-trans);
  margin: 20px 15px 20px 25px;
}

.card-link:hover .quarto-grid-item.card.h-100.card-left.hf2-card {
  background-color: var(--color-forschung);
  box-shadow: 4px 3px 6px 0px var(--color-forschung-trans);
  margin: 20px 15px 20px 25px;
}

/* title -------------------------------------------------------------------- */
  
  .subpage-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 25px auto;
  }

.subpage-title-headline {
  color: var(--blue);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.35;
  text-transform: uppercase;
  position: relative;
  padding: 20px 0;
  z-index: 1;
}

.subpage-title-headline::before,
.subpage-title-headline::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: var(--blue);
}

.subpage-title-headline::before {
  top: 0;
}

.subpage-title-headline::after {
  bottom: 0;
}

.header-title-clipgraph {
  content: '';
  height: 120px;
  width: 48%;
  background-color: var(--blue);
  position: absolute;
  right: 0;
  clip-path: path('M0.46875 327H699V0H343.814C199.729 68.1138 77.8418 181.41 0.46875 327Z');
}

.header-title-clipgraph.hf1 {
  background-color: var(--color-bildung);
}

.header-title-clipgraph.hf2 {
  background-color: var(--color-forschung);
}


/* SUCHFELDER ----------------------------------------------------------------*/
  /* Es gibt zwei Suchfelder -> Beim Explorer (id: suchen-suchen) und im Header (id: suchen) */
  
  #suchen-suchen_text,
  #suchen-suchen_reset,
  #suchen-suchen_search{
  font-size: 18px;
height: 40px;
}

.search-text .form-control:focus {
  border-color: var(--blue);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(25,83,101,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(25,83,101,.6);
}

/* SUCHE HEADER */
  
  #nav_suchen{
  width: 100%;
display: flex;
flex-direction: row-reverse;
}

#nav_suchen_text {
width: 100%;
max-width: 250px;
transition: all 1.25s ease;
border-radius: 0px!important;
font-size: 18px;
color: var(--grey);
height: 42px;
}

#nav_suchen_text:focus {
max-width: 550px;
background-color: var(--very-light-grey);
color: black;
}

.top-search{
  width: 550px;
  max-width: 50%;
}

#suchen-suchen_text{
border-radius: 0px!important;
}

#suchen-suchen_text:focus{
background-color: var(--very-light-grey);
color: black;
}

#nav_suchen_reset,
#nav_suchen_search {
border: none;
background-color: transparent;
z-index: 3;
position: absolute;
left: auto;
right: 5px;
font-size: 18px;
color: transparent;
padding: 9px 6px 7px 6px;
display: none;
}

#nav_suchen_search{
right: 30px;
}

#nav_suchen_reset{
font-size: 20px;
padding: 7px 6px 5px 6px;
}

#nav_suchen_text .input-group-btn{
position: absolute;
}

#nav_suchen_text .input-group-btn button{
position: absolute;
}

#nav_suchen .input-group-btn {
position: absolute;
/*display: none!important;*/
  color: transparent;
}

#nav_suchen_text:focus + .input-group-btn #nav_suchen_reset,
#nav_suchen_text:focus + .input-group-btn #nav_suchen_search{
color: var(--blue);
display: block;
}

#nav_suchen_text:focus + .input-group-btn #nav_suchen_reset:hover,
#nav_suchen_text:focus + .input-group-btn #nav_suchen_search:hover{
color: var(--red);
}

.top-search .shiny-input-container{
  margin: auto;
}

@media (max-width: 1400px){
  .top-search{
    width: 100%;
    max-width: 100%;
  }
  #nav_suchen_text:focus {
  max-width: 250px;
}
}

@media (max-width: 800px){
  .top-search{
    display: none;
  }
}

/* Buttons Book --------------------------------------------------------------------------------- */

#datensaetze-div_auswahl {
  transition: all .25s ease;
  margin-left: 100px;
}

.book {
  /*writing-mode: vertical-rl;*/
  margin-right: 40px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: var(--grey);
  color: var(--blue);
  font-family: var(--font-family-bold);
  font-size: var(--font-size);
  width: 100%;
  text-align: left;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: all .3s ease;
  height: 40px;
}

.book:focus,
.book:active,
.book:active:focus {
  border: 1px solid transparent;
  background-color: var(--grey);
  color: var(--blue);
}

.book.markiert:focus,
.book.markiert:active,
.book.markiert:active:focus,
.markiert {
  border: 1px solid transparent;
  background-color: var(--blue);
  color: white;
}

.book.markiert::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: -40px;
  position: absolute;
  color: var(--blue);
  font-size: 30px;
  line-height: 1;
}
/* FUNKTIONIERT NICHT SO
.book.markiert::after{
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;

  color: var(--blue);
  font-size: 30px;
  line-height: 1;

  position: absolute;
  right: 10px;  Abstand vom rechten Rand des Buttons
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}*/

.book:hover {
  border: 1px solid transparent;
  background-color: var(--primary);
  color: white;
}

.markiert {
  margin-left: 40px;
}

.eingerueckt {
  margin-left: -420px!important;
}

/* ---------------------------------------------------------------------------*/
  
  #sb_help {
  padding: 0;
border: none;
margin-left: 20px;
color: var(--blue);
font-size: 26px;
}

#sb_help:hover,
#sb_help:active,
#sb_help:focus,
#sb_help:active:focus,
#nav_suchen_search:active,
#nav_suchen_search:focus,
#nav_suchen_search:active:focus,
#nav_suchen_reset:active,
#nav_suchen_reset:focus,
#nav_suchen_reset:active:focus{
background-color: transparent;
box-shadow: none;
}

#sb_help:hover i{
font-weight: 900;
}

.header_link{
  margin: auto 0;
  
}

.header_link:hover,
.header_link:active,
.header_link:focus,
.header_link:active:focus{
  text-decoration: none;
}

/* Reactable in den Suchergebnisse ------------------------------------------ */
  
  .suche-tabelle-treffer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    width: fit-content;
    border-bottom: 2px solid white;
    transition: all .25s ease;
  }

.suche-tabelle-beschr {
  padding: 8px;
  color: var(--blue);
  font-size: 20px;
}

.suche-tabelle-typ {
  margin: 4px;
  padding: 4px 8px;
  background: var(--grey);
  color: white;
  border: 1px solid var(--grey);
  border-radius: 10px;
  font-size: 20px;
  height: fit-content;
}

.suche-tabelle-range {
  text-align: center;
  margin: 12px 0;
  padding: 6px;
  font-size: 24px;
  font-weight: 900;
}

.suche-tabelle-typ.treffer-reichweite {
  background-color: var(--primary);
  border-color: var(--primary);
}

.suche-tabelle-typ.treffer-variable {
  background-color: var(--blue);
  border-color: var(--blue);
}

.suche-tabelle-typ.treffer-variable {
  background-color: var(--beige);
  border-color: var(--beige);
}

.treffer-link {
  display: none;
}

.treffer-link div {
  text-align: center;
  font-weight: 900;
  line-height: 1;
  width: min-content;
}

.treffer-link i {
  color: var(--blue);
  font-size: 22px;
  margin: auto 8px;
}

.treffer-link:hover {
  text-decoration:none!important;
}

.treffer-link:hover i,
.treffer-link:hover div {
  color: var(--red);
  text-decoration:none!important;
}

.suche-tabelle-treffer-container {
  display: flex;
}

.suche-tabelle-treffer-container i {
  margin: auto 10px;
  color: var(--very-dark-grey);
  font-size: 30px;
}

.suchergebnisse div div .rt-thead {
  display: none;
}

.rt-tr-highlight:hover .rt-td .rt-td-inner .rt-text-content div .suche-tabelle-treffer-container .suche-tabelle-treffer {
  border-bottom: 2px solid var(--blue);
  font-weight: 900;
}

.rt-tr-highlight:hover .rt-td .rt-td-inner .rt-text-content div div a.treffer-link {
  display: flex;
}

.suchergebnisse .reactable .Reactable .rt-tbody .rt-tr-group {
  border-bottom: 2px dashed var(--light-grey);
}

.treffer-mehrfachtreffer-symbol {
  transition: all .5s ease;
  color: var(--grey);
  font-size: 26px;
}

.rt-tr-highlight:hover .rt-td .rt-td-inner .rt-text-content div .suche-tabelle-treffer-container .treffer-mehrfachtreffer-symbol {
  --fa-rotate-angle: 40deg;
  color: var(--red);
}

.suchergebnisse .reactable .Reactable .rt-pagination {
  font-size: 20px;
}

/*----------------------------------------------------------------------------*/
  
  .suchergebnisse-fuer {
    padding: 8px;
    background-color: var(--color-background);
    color: var(--red);
  }

.suchergebnisse-fuer .fa-solid {
  color: var(--red);
  font-size: 12px;
}

.suchergebnisse-fuer .fa-quote-left {
  padding-left: 5px;
  padding-right: 0px;
}

.suchergebnisse .reactable .Reactable .rt-table .rt-tbody .rt-no-data {
  font-weight: 900;
  font-size: 22px;
}

/* Callout-Box ---------------------------------------------------------------*/

.callout-info {
  margin: 20px 0px;
  max-width: 800px;
  border-left: 4px solid var(--blue);
  box-shadow: 1px 1px 5px 0.5px var(--light-grey);
}

.callout-info-head {
  display: flex;
  background-color: var(--light-grey);
  padding: 4px;
}

.callout-info-head i {
  color: var(--blue);
  margin-right: 5px;
  font-size: 20px;
  margin: auto 8px auto 8px;
}

.callout-info-h {
  font-family: var(--font-family-bold);
  color: var(--blue);
}

.callout-info-body {
  padding: 12px 24px 4px 24px;
}

.callout-info:hover {
  border-left: 4px solid var(--dark-beige);
  transition: all .4s ease;
  box-shadow: 1px 1px 5px 0.5px var(--beige-trans);
}

.callout-info:hover .callout-info-head .callout-info-h{
  color: var(--dark-beige);
  transition: all .4s ease;
}

.callout-info:hover .callout-info-head {
  background-color: var(--beige-trans-strong);
  transition: all .4s ease;
}

.callout-info:hover .callout-info-head i {
  color: var(--dark-beige);
  transition: all .4s ease;
}

/* soriteren */



/*Team-Cards -----------------------------------------------------------------*/
  
  .row .col, .row [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.team-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow .3s;
  cursor: pointer;
}

.team-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.mail-link {
  color: var(--blue);
  text-decoration: none;
}

.mail-link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .responsive-div {
    flex: 1 1 100% !important;
    margin: 10px 0px !important;
  }
}

.menu-box .shiny-input-container {
  width: 100%;
}


.reactable-details {
  background-color: var(--color-background);
  padding: 12px;
  margin: 12px;
}

.reactable-details h3 {
  font-size: var(--font-size);
  margin-top: 0px;
}

.reactable-details p {
  font-size: var(--font-size-small);
}

div#driver-popover-item {
  max-width: 1000px;
  margin-right: 40px;
}

.strich{
  border-bottom: 3px solid var(--blue);
    margin: 20px 0;
    width: 50px;
}

.reactable-details-label {
  font-size: var(--font-size-small);
  font-family: var(--font-family-bold);
  margin-top: 6px;
  color: var(--primary);
}

label.control-label {
  font-family: var(--font-family-bold);
  font-weight: 500;
}

.no_display {
  display: none;
}

.no_opacity {
  opacity: 0;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-radius:0px!important;
}
