
/* Root Variable Definition --------------------------------------------------------------------- */

:root{
  /*colors*/
  --primary:         #6896a8;
  --soft-primary:    #b3c8d3;
  --light-primary:   #e0e8ed;
  --blue:            #195365;
  --blue-trans:      #195365cc;
  --light-blue:      #8d9ca9;
  --red:             #e73f0c;
  --grey:            #b5bfc5;
  --light-grey:      #dae0e3;
  --very-light-grey: #f0f3f4;
  --dark-grey:       #6A6F73;
  --very-dark-grey:  #575757;
  --beige:           #ada58b;
  --dark-beige:      #8A8161;
  --color-bildung:   #C3DA46;
  --color-forschung: #A96BF1;
  --color-bildung-trans:   #C3DA46cc;
  --color-forschung-trans: #A96BF1cc;

  /*font*/
  --font-size: 15px;
  --font-family: "Calibri", sans-serif;
}

/* Font ----------------------------------------------------------------------------------------- */

    .modal-dialog {
      max-width: 100%;
      width: 98%; /* Fast die ganze Breite */
      height: calc(100% - 60px); /* Höhe, wie zuvor definiert */
      margin: 0 auto; /* Zentriert das Modal */
    }
    .modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .modal-body {
      flex: 1 1 auto;
      overflow-y: auto;
    }

.body, body {
  font-family: var(--font-family);
  font-size: 18px;
  background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p {
  font-family: var(--font-family);
  color: var(--blue);
}

h2, .h2 {
  font-weight: 600;
}

/* Sidebar -------------------------------------------------------------------------------------- */

.navbar{
  margin-bottom: 0;
}

.sidebar_button,
.sidebar_dynamic_button,
.sidebar_button_hf_1,
.sidebar_button_hf_2 {
  color: black;
  width: 110px;
  margin: 5px;
  border-radius: 0px;,
}

/* Sidebar-Buttons ------------------------------------------------------------------------------ */

.btn:focus {
  outline: none!important;
}

.btn-warning.sidebar_button {
  color: white;
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-warning.sidebar_button:hover,
.btn-warning.sidebar_button:hover:active{
  background-color: var(--blue-trans);
  border-color: var(--blue-trans);
}

.btn-warning.sidebar_button_hf_1 {
  color: white;
  background-color: var(--color-bildung);
  border-color: var(--color-bildung);
}

.btn-warning.sidebar_button_hf_1:hover,
.btn-warning.sidebar_button_hf_1:hover:active{
  background-color: var(--color-bildung-trans);
  border-color: var(--color-bildung-trans);
}

.btn-warning.sidebar_button_hf_2 {
  color: white;
  background-color: var(--color-forschung);
  border-color: var(--color-forschung);
}

.btn-warning.sidebar_button_hf_2:hover,
.btn-warning.sidebar_button_hf_2:hover:active{
  background-color: var(--color-forschung-trans);
  border-color: var(--color-forschung-trans);
}

.sidebar_dynamic_button{
  width: 100%;
  text-align: left;
  margin: 0 5px;
  border-color: #ffffff00;
}

.sidebar_dynamic_button:focus{
  background-color: #ffffff00;
  border-color:     #ffffff00;
}

/* Sidebar-Title -------------------------------------------------------------------------------- */

.sidebar_title_main {
  color: var(--blue);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.35;
  text-transform: uppercase;
  position: relative;
  padding: 20px 0;
  z-index: 1;
}

.sidebar_title_main::before,
.sidebar_title_main::after{
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: var(--blue);
}
.sidebar_title_main::before{
  top: 0;
}
.sidebar_title_main::after{
  bottom: 0;
}

/* Content-Panel -------------------------------------------------------------------------------- */

.panel-content, panel-content {
  padding: 10px 20px;
  margin: 20px 0px 20px 0px;
  background-color: white;
  width: 100%;
}

/* Boxen bei Studies ---------------------------------------------------------------------------- */

.studies_box {
  background-color: white;
  max-width: 240px;
  padding: 20px;
  border: 2px solid var(--grey);
  margin: 20px;
  transition: all .4s ease;
}

.studies_box:hover {
  margin: 15px 15px 25px 25px;
  box-shadow: 2px 2px 2px 0px var(--grey);
}

.studies_box:hover {
  border-color: var(--blue);
}

.studies_box.innovation:hover {
  border-color: var(--color-forschung);
}

.studies_box.bildung:hover {
  border-color: var(--color-bildung);
}


.studies_header {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--blue);;
}

.studies_img {
  width: 200px;
  margin: auto;
  display: flow;
}

.studies_text{
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}

/* Tooltips ------------------------------------------------------------------------------------- */

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: var(--blue);
}

.tooltip.bottom .tooltip-inner {
  background-color: var(--blue);
  max-width: 360px;
  font-size: 13px;
  padding: 10px;
  box-shadow: 2px 2px 2px 0px var(--grey);
}

/* Content-Box ---------------------------------------------------------------------------------- */

.content-box {
  padding: 10px;
  margin: 10px;
  background-color: var(--light-grey);
}

@media (max-width: 767px){
  #main-body {
    display: block!important;
  }
  #sidebar{
    width: 100%!important;
  }
}

/*
@media (max-width: 767px){
  .navbar-header, navbar-header{
    display: flex;
    justify-content: left;
  }
  button[class="navbar-toggle collapsed"],
  button[class="navbar-toggle"]{
    margin-left: 20px;
  }
}

@media (min-width: 1000px) {

  .navbar-header, navbar-header{
    font-size: 0px;
    width: 0px;
  }

  ul[id="navigation_bar"]{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
/*
  .nav>li:has(a[data-value="Handlung 1"]){
    background-color: red;
  }


  .nav>li:has(a[data-value="Handlung 2"]){
    margin-right: 15%;
  }

  .nav>li:has(a[data-value="Stories"]){
    margin-left: 15%;
  }

  .nav>li:has(a[data-value="Studies"]){
    background-color: orange;
  }
}
*/

